---
layout: default
title: Sean Bowman - Software Development Projects
---

<h2>Software Development</h2>

I am fluent in Python, C, C++, and Java, and conversational in Ruby,
Mathematica, Ocaml, Haskell, PHP, and Javascript, among others.  I've
developed software ranging from dynamic websites for commercial
clients to sophisticated, performance intensive mathematical software.
Here are some examples of my work:

{% for post in site.categories.programming %}
<h2>{{ post.title }}</h2>
<p>{% if post.image %}<img src="{{ post.image }}" class="floatleft" />{% endif %}
  {{ post.content }}</p>
<div style="clear:both;"></div>
{% endfor %}
