---
layout: default
title: Sean Bowman's Mathematics Projects
---

<h2>Current work</h2> 

<p><img src="/images/hbody-scaled.png" class="floatright" /> My
current work investigates the bridge numbers of knots and the spaces
obtained from Dehn surgery on the knots.  Since 3-manifolds are often
described by <a href="http://en.wikipedia.org/wiki/Dehn_surgery">Dehn
surgery</a>, understanding the relationship between manifold, knot,
and surgery slope is of fundamental importance in 3-manifold topology.
In particular it is good to understand when a knot yields a simple
space after surgery.

<p> In my thesis, I give examples of knots in handlebodies which have
nontrivial handlebody surgeries yet are not 1-bridge knots.  This
disproves a conjecture of Wu and further explores work of Gabai and
Berge.  More recently, Ken Baker, John Luecke, and I have provided
bounds on the bridge numbers of these knots.  We have also constructed
more general examples of knots in handlebodies that have both large bridge
number and boundary reducing surgeries.</p>

<p>Jesse Johnson and I, and separately Scott Taylor, Alex Zupan, and
I, have given examples of knots in the 3-sphere which have simple Dehn surgeries but large bridge numbers.  These knots include Berge knots (knots with lens space surgeries) and Dean knots (knots with small Seifert fibered surgeries). </p>

<p>For more on my current work, <a href="/documents/research-statement.pdf">read my
research statement here</a>.
</p>

Here is some of my previous mathematical work:

{% for post in site.categories['mathematics'] %}
<h3>{{ post.title }}</h3>
<p>{% if post.image %}<img src="{{ post.image }}" class="floatleft" />{% endif %}
  {{ post.content }}</p>
{% endfor %}

